.container {
  height: 100vh;
}

header {
  color: #606060;
}

h2 {
  text-align: center;
  margin-top: 60px;
}

p {
  text-align: right;
}

#footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  border-top: 1px solid gray;
  padding-top: 20px;
}
